#block {
	display: flex;
	position: relative;
}

.content {
	position: absolute;
	top: 100px;
	left: 250px;
}

.aside {
    width: 250px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	position: fixed;
	top: 100px;
	left: 0;
	bottom: 0;
	margin: 10px;
}

@media (max-width: 500px) {
	#block {
		margin-top: 100px;
	}

	.content {
		display: block;
		position: none;
		left: 0;
	}
	
	.aside {
		display: block;
		position: none;
	}
}
