#nav {
    font-size: x-large;
    color: blanchedalmond;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}